@model SUD.Models.CellarProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CellarProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cellar.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellar.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplacementDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplacementDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CellarProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
