@model IEnumerable<SUD.Models.CellarProduct>

@{
    ViewBag.Title = "Productos en Bodega";
    ViewBag.Message = "Listado de Productos en Bodega";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
        @ViewBag.Title - <small>@ViewBag.Message</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-bank"></i> Productos en Bodega</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Productos en Bodega</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <!-- Aca se incluye todo el contenido de la pagina que se desea mostrar -->
            <!-- por ejemplo el index/tabla de algun recurso -->
            <p>
                <a href="@Url.Action("Index", "Products")" class="btn btn-success"> <i class="fa fa-external-link" aria-hidden="true"></i> Ir a Productos</a>
            </p>
            <table class="table table-condensed">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cellar.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Minimum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Maximum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReplacementDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MinimumAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Stock <= item.Minimum)
                    {
                        <tr class="danger">
                            <td>
                                @Html.DisplayFor(modelItem => item.Cellar.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Description)
                            </td>
                            <td>
                                <span class="hint--error" aria-label="La existencia se encuentra por debajo de su nivel mínimo">@Html.DisplayFor(modelItem => item.Stock) <i class="fa fa-info-circle"></i></span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Minimum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Maximum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReplacementDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MinimumAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink(" ", "Edit", new { id = item.CellarProductId }, new { @class = "btn btn-warning fa fa-pencil-square-o" })
                                    @Html.ActionLink(" ", "Details", new { id = item.CellarProductId }, new { @class = "btn btn-info fa fa-info-circle" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.CellarProductId }, new { @class = "btn btn-danger fa fa-trash" })
                                </div>
                        </tr>
                    }
                    else if (item.Stock >= item.Maximum)
                    {
                        <tr class="warning">
                            <td>
                                @Html.DisplayFor(modelItem => item.Cellar.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Description)
                            </td>
                            <td>
                                <span class="hint--warning" aria-label="La existencia se encuentra por encima de su nivel máximo">@Html.DisplayFor(modelItem => item.Stock) <i class="fa fa-info-circle"></i></span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Minimum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Maximum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReplacementDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MinimumAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink(" ", "Edit", new { id = item.CellarProductId }, new { @class = "btn btn-warning fa fa-pencil-square-o" })
                                    @Html.ActionLink(" ", "Details", new { id = item.CellarProductId }, new { @class = "btn btn-info fa fa-info-circle" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.CellarProductId }, new { @class = "btn btn-danger fa fa-trash" })
                                </div>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cellar.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Minimum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Maximum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReplacementDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MinimumAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink(" ", "Edit", new { id = item.CellarProductId }, new { @class = "btn btn-warning fa fa-pencil-square-o" })
                                    @Html.ActionLink(" ", "Details", new { id = item.CellarProductId }, new { @class = "btn btn-info fa fa-info-circle" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.CellarProductId }, new { @class = "btn btn-danger fa fa-trash" })
                                </div>
                        </tr>
                    }

                }

            </table>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <!-- Aca se incluye aquellas acciones relacionadas con lo antes mostrado -->
            <!-- por ejemplo botones de facturacion, exportar a excel/pdf o similares -->
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
