@model SUD.ViewModels.NewProductView

@{
    ViewBag.Title = "Producto";
    ViewBag.Message = "Este es un Producto";
}

<section class="content-header">
    <h1>
        <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
        @ViewBag.Title - <small>@ViewBag.Message</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-cubes"></i>  Productos</a></li>
        <li class="active">Detalles</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Detalles del Producto</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="center-block table table-striped">
                <div class="row">
                    <div class="col-xs-5 col-sm-5">
                        @if (!string.IsNullOrEmpty(Model.Product.Image))
                        {
                            @*<img class="center-block" src="@Url.Content(Model.Image)" alt="Image" style="width:350px;height:100px;max-width: 100%; height: auto;" />*@
                            <img class="center-block" src="@Url.Content(Model.Product.Image)" alt="Image" style="width:200px;height:300px;" />
                        }


                        <div class="col-xs-12 col-sm-12">
                            <a href="@Url.Action("Edit", new { id = Model.Product.ProductId })" class="btn btn-warning col-xs-12 col-sm-offset-1 col-sm-4"><i class="fa fa-edit" aria-hidden="true"></i> Editar</a>
                            <a href="@Url.Action("Delete", new { id = Model.Product.ProductId })" class="btn btn-danger col-xs-12 col-sm-offset-1 col-sm-4"><i class="fa fa-remove" aria-hidden="true"></i> Eliminar</a>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Product.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Product.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Product.Category)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Product.Category.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Product.Measure)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Product.Measure.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Product.Price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Product.Price)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Product.Medida)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Product.Medida)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Product.Note)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Product.Note)
                            </dd>
                        </dl>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        <div id="DetailBarCodes">

                            @Html.Partial("BarCodeDetails", new ViewDataDictionary { { "id", Model.Product.ProductId } });

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        @using (Ajax.BeginForm("AddBarCodes", "Products",

                               new AjaxOptions
                               {

                                   OnSuccess = "OnSuccess",
                                   OnFailure = "OnFailure"

                               }))

                        {

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.BarCode.ProductId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.BarCode.Bar, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.BarCode.Bar, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary ld-ext-right" id="btn-add-barcodes">
                                            <i class="fa fa-floppy-o" aria-hidden="true"> </i> Agregar
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.BarCode.Bar, "", new { @class = "text-danger" })

                            </div>

                        }
                    </div>



                </div>

            </div>
        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            LoadData();
            $("#btn-add-barcodes").click(function () {

                $("#btn-add-barcodes").addClass("running");

            });
        });

        function LoadData() {
            $.ajax({

                url: "@Url.Action("BarCodeDetails", new { id = Model.Product.ProductId})",
                type: "GET",
                contentType: "HTML"
            }).done(function (result) {

                $("#DetailBarCodes").html(result);

                });
        }

        function OnSuccess(response) {

            $("#btn-add-barcodes").removeClass("running");

            LoadData();

            $.notify("Codigo de Barra agregado exitosamente", "success");
        }

        function OnFailure(response) {
            console.error(response);
            $("#btn-add-barcodes").removeClass("running");
            $.notify("Ha ocurrido un error", "error");
        }

    </script>


}







