@model SUD.Models.Product

@{
    ViewBag.Title = "Producto";
    ViewBag.Message = "Este es un Producto";
}

<section class="content-header">
    <h1>
        <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
        @ViewBag.Title - <small>@ViewBag.Message</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-cubes"></i>  Productos</a></li>
        <li class="active">Detalles</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Detalles del Producto</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="center-block table table-striped">
                <div class="row ">

                    <div class="col-xs-4 col-sm-4 ">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img class="center-block" src="@Url.Content(Model.Image)" alt="Image" style="width:350px;height:100px;max-width: 100%; height: auto;" />
                        }

                        <hr />
                        <p class="text-center">
                            <a href="@Url.Action("Edit", new { id = Model.ProductId })" class="btn btn-warning"> <i class="fa fa-edit" aria-hidden="true"></i> Editar</a>
                            <a href="@Url.Action("Delete", new { id = Model.ProductId })" class="btn btn-danger"> <i class="fa fa-remove" aria-hidden="true"></i> Eliminar</a>

                        </p>

                    </div>
                    <div class="col-xs-4 col-sm-4 ">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Category)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Category.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Measure)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Measure.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Note)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Note)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>



