@model IEnumerable<SUD.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cellar.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.States.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Tradename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cellar.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.States.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Tradename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseId })
        </td>
    </tr>
}

</table>
