@model SUD.Models.SaleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SaleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale.SaleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale.SaleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVAPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVAPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KardexId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KardexId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaleDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
