@model IEnumerable<SUD.Models.AccountingDocument>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResolutionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountingDocumentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountingDocumentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountingDocumentId })
        </td>
    </tr>
}

</table>
