@model SUD.Models.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountingDocument.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingDocument.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Territory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Territory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
