@model SUD.Models.RolPermission

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RolPermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Form)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Form)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanSee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanSee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanModify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanModify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanErase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanErase)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
