@model IEnumerable<SUD.Models.RolPermission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rol.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanSee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanModify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanErase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanSee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanModify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanErase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPermission }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPermission }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPermission })
        </td>
    </tr>
}

</table>
