@model SUD.Models.BarCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BarCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BarCodeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
