@model SUD.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComertialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComertialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstNameContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNameContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNameContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
