@model IEnumerable<SUD.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComertialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstNameContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNameContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComertialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNameContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNameContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
        </td>
    </tr>
}

</table>
