
@model SUD.Models.LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";

}

<body class="login-page">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>Bienvenido a SUD</b></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Usa una cuenta local para iniciar sesión</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form action="#" method="post">
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "Email", type = "email", placeholder = "Correo electrónico" })
                        <span class="fa fa-envelope  form-control-feedback"></span>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>


                    @*<input type="password" class="form-control" placeholder="Contraseña" id="showpassword">*@
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "Password", type = "password", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        <i onclick="ShowPassword()" title="Mostrar/Ocultar" class="fa fa-eye form-control-feedback form-control-feedback-click" id="eye"></i>


                    </div>
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox">
                                    @Html.LabelFor(model => model.RememberMe)
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                @*<a href="#">I forgot my password</a><br>*@

            </div>
            <!-- /.login-box-body -->
        </div>
    }
</body>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function ShowPassword() {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";

                x.focus();
            } else {
                x.type = "password";
                //$("#eye").title = "Mostrar contraseña";
                x.focus();
            }
        }


        $('i').click(function () {
            $(this).toggleClass('fa-eye-slash');
            //$(this).val = "Ocultar contraseña";

        });

    </script>



    @*<script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' /* optional */
                });
            });
        </script>*@
}

