@model IEnumerable<SUD.Models.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Step)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Step)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventoryId })
        </td>
    </tr>
}

</table>
