@model SUD.Models.Client

@using (Ajax.BeginForm("AddClient", "Orders",

            new AjaxOptions
            {

                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"

            }))

{
    @Html.AntiForgeryToken()
    <div id="ModalClient" class=" modal fade">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Ingrese los datos del Cliente</h4>
                </div>
                <div class="modal-body">
                    @*aqui comienza el body*@
                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar No. de Documento" } })
                                @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-2">
                            <div class="form-group">

                                @Html.LabelFor(model => model.DocumentTypeId, "Tipo de Documento", htmlAttributes: new { @class = "" })
                                @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DocumentTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-xl-12 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ComertialName, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.ComertialName, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar Nombre Comercial" } })
                                @Html.ValidationMessageFor(model => model.ComertialName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstNameContact, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.FirstNameContact, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar Nombres" } })
                                @Html.ValidationMessageFor(model => model.FirstNameContact, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-xl-12 col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastNameContact, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.LastNameContact, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar Apellidos" } })
                                @Html.ValidationMessageFor(model => model.LastNameContact, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar Dirección" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-2">
                            <div class="form-group">

                                @Html.LabelFor(model => model.Telephone1, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Telephone1, new { htmlAttributes = new { @class = "form-control", placeholder = "Teléfono 1" } })
                                @Html.ValidationMessageFor(model => model.Telephone1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Telephone2, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.Telephone2, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono 2" } })
                                @Html.ValidationMessageFor(model => model.Telephone2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar Correo Electrónico" } })
                                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar Notas" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                @*aqui termina el body*@


                <div class="modal-footer">
                    <button type="submit" id="btnSaveClient" class="btn btn-primary">Guardar</button>
                    <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>

        </div>
    </div>
}

