@model SUD.ViewModels.AddProductView

@{
    ViewBag.Title = "Ordenes";
    ViewBag.Message = "Crear Orden";
}

@using (Ajax.BeginForm("AddProduct", "Orders",

            new AjaxOptions
            {

                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure",
                LoadingElementId = "progress"

            }))

{
    @Html.AntiForgeryToken()

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
            @ViewBag.Title - <small>@ViewBag.Message</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")"><i class="fa fa-pencil-square-o"></i> Ordenes</a></li>
            <li class="active">Crear</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Message</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <!-- Aca se incluye todo el contenido de la pagina que se desea mostrar -->
                <!-- por ejemplo el index/tabla de algun recurso -->
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary ld-ext-right" id="btn-add-product">
                        <i class="fa fa-floppy-o" aria-hidden="true"> </i> Agregar
                        <div class="ld ld-ring ld-spin"></div>
                    </button>
                </div>

                <span class="border"></span>
                @if (Model.Details.Count == 0)
                {
                    <table class="table table-bordered" id="detailProducts">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Details[0].Description)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Details[0].Price)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Details[0].Quantity)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Details[0].Value)
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="info" colspan="7" align="center">
                                <h4>No hay detalles para esta orden.</h4>
                            </td>
                        </tr>
                    </table>

                }
                else
                {
                    <table class="table table-condensed">
                        <tr class="bg-info border-secondary border-dark">
                            <th>
                                @Html.DisplayNameFor(model => model.Details[0].Description)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Details[0].Price)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Details[0].Quantity)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Details[0].Value)
                            </th>
                            <th width="70px">
                                <div class="btn-group">
                                    @Html.ActionLink(" Todos", "DeleteAllProduct", new { @class = "btn btn-danger fa fa-trash", onclick = "const toast = swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, timer: 1500}); toast({type: 'success', title: 'Ejecución correcta'})" })
                                </div>
                            </th>
                        </tr>

                        @foreach (var item in Model.Details)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td align="center">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "DeleteProduct", new { id = item.ProductId }, new { @class = "btn btn-danger fa fa-trash", onclick = "const toast = swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, timer: 1500}); toast({type: 'success', title: 'Detalle eliminado correctamente'})" })
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr class="bg-info border-dark">
                            <td colspan="2" align="left">
                                <strong>Total </strong>
                            </td>
                            <td align="left">
                                <strong>@Html.DisplayFor(modelItem => Model.TotalQuantity)</strong>
                            </td>
                            <td align="left">
                                <strong>@Html.DisplayFor(modelItem => Model.TotalValue)</strong>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                }

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <!-- Aca se incluye aquellas acciones relacionadas con lo antes mostrado -->
                <!-- por ejemplo botones de facturacion, exportar a excel/pdf o similares -->
                @if (Model.Details.Count > 0)
                {
                    <div class="form-group pull-right">
                        <a href="@Url.Action("Index")" class="btn btn-success"> <i class="fa fa-undo" aria-hidden="true"> </i> Regresar</a>
                        <a href="@Url.Action("Create")" class="btn btn-primary"> <i class="fa fa-forward" aria-hidden="true"> </i> Confirmar</a>
                    </div>
                }

            </div>

            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            function RefreshTable() {
                $("#detailProducts").load("AddProduct.html #detailProducts");
            }

            $("#btn-add-product").on("click", RefreshTable);

            $("#btn-add-product").click(function () {

                $("#btn-add-product").addClass("running");

            });
        });

        function OnSuccess(response) {

            $("#btn-add-product").removeClass("running");
            //alert("Producto Agregado Correctamente");
            const toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 1500
            });

            toast({
                type: 'success',
                title: 'Producto agregado correctamente'
            })




        }

        function OnFailure(response) {

            alert("Ocurrió un Error");
        }

    </script>

}
