@model SUD.ViewModels.DetailOrderView


<span class="border"></span>
@if (Model == null)
{
    <table class="table table-bordered" id="detailProducts">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details[0].Description)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Details[0].Price)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Details[0].Quantity)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Details[0].Value)
            </th>
        </tr>
        <tr>
            <td class="info" colspan="7" align="center">
                <h4>No hay detalles para esta orden.</h4>
            </td>
        </tr>
    </table>

}
else
{
    <table class="table table-condensed">
        <tr class="bg-info border-secondary border-dark">
            <th>
                @Html.DisplayNameFor(model => model.Details[0].Description)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Details[0].Price)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Details[0].Quantity)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Details[0].Value)
            </th>
        </tr>

        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
        <tr class="bg-info border-dark">
            <td colspan="2" align="left">
                <strong>Total </strong>
            </td>
            <td align="left">
                <strong>@Html.DisplayFor(modelItem => Model.TotalQuantity)</strong>
            </td>
            <td align="left">
                <strong>@Html.DisplayFor(modelItem => Model.TotalValue)</strong>
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
