@model SUD.ViewModels.AddProductSaleView

@{
    ViewBag.Title = "Venta";
    ViewBag.Message = "Crear Venta";
}

@using (Ajax.BeginForm("AddProduct", "Sales",

            new AjaxOptions
            {

                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure",
                LoadingElementId = "progress"

            }))

{
    @Html.AntiForgeryToken()

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
            @ViewBag.Title - <small>@ViewBag.Message</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")"><i class="fa fa-pencil-square-o"></i> Ventas</a></li>
            <li class="active">Crear</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Message</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <!-- Aca se incluye todo el contenido de la pagina que se desea mostrar -->
                <!-- por ejemplo el index/tabla de algun recurso -->
                @*--------------- Insertar por codigo de barra--------------------*@

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BarCode, htmlAttributes: new { @class = "control-label col-md-6" })
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-2">
                        <div class="form-group">
                            @Html.EditorFor(model => model.BarCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ld-ext-right" id="btn-add-product">
                        <i class="fa fa-floppy-o" aria-hidden="true"> </i> Agregar
                        <div class="ld ld-ring ld-spin"></div>
                    </button>
                </div>

                <div id="DetailProducts">
                    @Html.Partial("Detalle")
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <!-- Aca se incluye aquellas acciones relacionadas con lo antes mostrado -->
                <!-- por ejemplo botones de facturacion, exportar a excel/pdf o similares -->
                <div class="form-group pull-right">
                    <a href="@Url.Action("Index")" class="btn btn-success"> <i class="fa fa-undo" aria-hidden="true"> </i> Regresar</a>
                    <a href="@Url.Action("Create")" class="btn btn-primary"> <i class="fa fa-forward" aria-hidden="true"> </i> Confirmar</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
}

@*Barcode Manual modal*@

<div class="modal fade" id="manualbarcodemodal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2><span class="fa fa-barcode"></span> | Buscador de Codigo de Barras</h2>
            </div>
            <div class="modal-body">
                <div>
                    @Html.Partial("SearchModal")
                </div>
                <div id="DetailProductModal">
                    @Html.Partial("ModalDetail")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            LoadData(); //recargamos el detalle para ver si tenemos datos antiguos
            $("#BarCode").focus();
            $("#btn-add-product").click(function () {
                $("#btn-add-product").addClass("running");
                if (FastClick) { // luego de 1.5 segundos quita la animacion de circulo en el boton del submit
                    setTimeout(function () {
                        $("#btn-add-product").removeClass("running");
                    }, 1500);
                }
            });

            //si se presiona la tecla control se abre el modal de buscar.
            document.onkeydown = function (e) {
                e = e || window.event;
                var key = e.which || e.keyCode;
                if (key === 17) {

                    $("#manualbarcodemodal").modal("show")
                }
            }

            $("#manualbarcodemodal").on('shown.bs.modal', function () {
                $('#BarCode').focus()
            })

            $("#manualbarcodemodal").on('submit', '#form01submit', function () {
               
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                   
                });
            });

        });

        // se acciona al momento de presionar una tecla y el foco este en la caja de texto
        $("#BarCode").keypress(function (event) {

            //luego de 0.5 segundo despues de que se presiono la ultima tecla el llama a la funcion sendata
            clearTimeout($.data(this, 'timer'));
            var wait = setTimeout(sendata, 500);
            $(this).data('timer', wait);

        });

        function sendata() {
            //hace el submit del formulario principal
            $("#btn-add-product").trigger("click", function () {

                $("#btn-add-product").addClass("running");

            });

        }

        function LoadData() {
            $.ajax({

                url: "@Url.Action("Detalle")",
                type: "GET",
                contentType: "HTML"

            }).done(function (result) {

                $("#DetailProducts").html(result);

            });
        }

        function OnSuccess(response) {

            $("#btn-add-product").removeClass("running");
            LoadData();
            if (response == 200) {
                $.notify("Registro Agregado Correctamente status:" + response + "", "success");
                document.getElementById('form0').reset();
            }
            else if (response == 400) {
                $.notify("Producto no encontrado status: " + response + "", "error");
                document.getElementById('form0').reset();
            }
            else {
                $.notify("Error Desconocido: "+ response +"", "error");
                document.getElementById('form0').reset();
            }

            $("#BarCode").focus();

        }

        function OnFailure(response) {

            $.notify("Ha ocurrido un error", "error");
            $("#BarCode").focus();
        }

        function OnSuccess2(response) {

            if (response == 404) {

                $.notify("Producto no encontrado", "error");
            }
            else {

                $("#DetailProductModal").html(response);
            }
    
        }

        function OnFailure2(response) {

            $.notify("Ha ocurrido un error en el modal", "error");  
        }

    </script>

}