@model SUD.ViewModels.AddProductSaleView

@{
    ViewBag.Title = "Producto";
    ViewBag.Message = "Seleccion de producto";
}

<section class="content-header">
    <h1>
        <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
        @ViewBag.Title 
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-pencil-square-o"></i> Ventas</a></li>
        <li class="active">Crear</li>
    </ol>
</section>


<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Message</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    <div class="box-body">
            <!-- Aca se incluye todo el contenido de la pagina que se desea mostrar -->
        @using (Html.BeginForm())
         {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-md-2">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.IVAPercentage, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(u => u.IVAPercentage, new { @class = "form-control", @readonly = "readonly", Value = "12" })

                    </div>
                </div>
                <div class="col-xs-12 col-md-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DiscountRate, "Descuento", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(u => u.DiscountRate, new { @class = "form-control", Value = "0" })
                        @Html.ValidationMessageFor(model => model.DiscountRate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductId, "Producto", htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-xs-12 col-md-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, "Cantidad", htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                        <div class="btn btn-default">
                            @Html.ActionLink("Cancelar", "Create")
                        </div>
                        
                    </div>
                </div>
            </div>
         }
    <div class="">
        
    </div>    
    </div>
    </div>
</section>

@section Scripts 
    {
    @Scripts.Render("~/bundles/jqueryval")
    }





















            @*<h2>AddProduct</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.IVAPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(u => u.IVAPercentage, new { @class = "form-control", @readonly = "readonly", Value = "12" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DiscountRate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(u => u.DiscountRate, new { @class = "form-control", Value = "0" })
                            @Html.ValidationMessageFor(model => model.DiscountRate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
