@model IEnumerable<SUD.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cellar.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cellar.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datetime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaleId })
        </td>
    </tr>
}

</table>
